!!!
/
  Overflow by HTML5 UP
  html5up.net | @n33co
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
%html
  %head
    %title Matthew Thompson
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "keywords"}/
    /[if lte IE 8] <script src="css/ie/html5shiv.js"></script>
    %script{:src => "js/jquery.min.js"}
    %script{:src => "js/jquery.scrolly.min.js"}
    %script{:src => "js/jquery.poptrox.min.js"}
    %script{:src => "js/skel.min.js"}
    %script{:src => "js/init.js"}
    %noscript
      %link{:href => "css/skel.css", :rel => "stylesheet"}/
      %link{:href => "css/style.css", :rel => "stylesheet"}/
    /[if lte IE 8] <link rel="stylesheet" href="css/ie/v8.css" />
  %body
    / Header
    %section#header
      %header
        %h1 Matthew Thompson
        %p Portfolio
      %footer
        %a.button.style2.scrolly.scrolly-centered{:href => "#banner"} A little about me
    / Banner
    %section#banner
      %header
        %h2 My Story
      %p
        A brand new site template designed by
        %a{:href => "http://n33.co"} AJ
        for
        = succeed "." do
          %a{:href => "http://html5up.net"} HTML5 UP
        %br/
        It’s fully responsive, built on
        = succeed "," do
          %strong skel
        and of course entirely free
        %br/
        under the
        = succeed "." do
          %a{:href => "http://html5up.net/license"} Creative Commons license
      %footer
        %a.button.style2.scrolly{:href => "#first"} Featured Projects
    / Feature 1
    %article#first.container.box.style1.right
      %a.image.fit{:href => "https://github.com/mattyice50/tunlvision", :alt => "Tunlvision Github Repository"}
        %img{:alt => "", :src => "images/fulls/tunlvision.png", :style => "right: inherit;"}/
      .inner
        %header
          %h2
            Tunlvision
            %br/
            Creative Project Management
        %p Coming from a creative background I had the opportunity work in a creative enviornment and build all sorts of different creative solutions. My time spent working on those projects and working with creative people taught me that often creatives work in a non-linear way. Tunlvision is a project management tool that allows creatives the freedom to work in a non-linear way.
    / Feature 2
    %article.container.box.style1.left
      %a.image.fit{:href => "https://github.com/mattyice50/Podcast_XML_Parse", :alt => "Zachcast Github Repository"}
        %img{:alt => "", :src => "images/fulls/zachcast.png" }/
      .inner
        %header
          %h2
            Zachcast
            %br
            XML Parse for Itunes Podcasts
        %p Zachcast is a Rails Application that allows for users to import existing podcast xml files for Itunes and Created new entries. Users can manage multiple rss feeds with this application.

    %article.container.box.style2
      %header
        %h2 All Projects
        %p
          Justo phasellus et aenean dignissim
          %br/
          placerat cubilia purus lectus.

      .inner.gallery
        .row.flush
          .3u
            %a.image.fit{:href => "images/fulls/01.jpg"}
              %img{:alt => "", :src => "images/thumbs/01.jpg", :title => "Ad infinitum"}/
          .3u
            %a.image.fit{:href => "images/fulls/02.jpg"}
              %img{:alt => "", :src => "images/thumbs/02.jpg", :title => "Dressed in Clarity"}/
          .3u
            %a.image.fit{:href => "images/fulls/03.jpg"}
              %img{:alt => "", :src => "images/thumbs/03.jpg", :title => "Raven"}/
          .3u
            %a.image.fit{:href => "images/fulls/04.jpg"}
              %img{:alt => "", :src => "images/thumbs/04.jpg", :title => "I'll have a cup of Disneyland, please"}/
        .row.flush
          .3u
            %a.image.fit{:href => "images/fulls/05.jpg"}
              %img{:alt => "", :src => "images/thumbs/05.jpg", :title => "Cherish"}/
          .3u
            %a.image.fit{:href => "images/fulls/06.jpg"}
              %img{:alt => "", :src => "images/thumbs/06.jpg", :title => "Different."}/
          .3u
            %a.image.fit{:href => "images/fulls/07.jpg"}
              %img{:alt => "", :src => "images/thumbs/07.jpg", :title => "History was made here"}/
          .3u
            %a.image.fit{:href => "images/fulls/08.jpg"}
              %img{:alt => "", :src => "images/thumbs/08.jpg", :title => "People come and go and walk away"}/
    / Contact
    %article.container.box.style3
      %header
        %h2 Get in touch
        %a{:href => "mailto:matt@mattathompson.org"} Via Email: matt@mattathompson.org
				%br/
				%a{:href => "tel:+6788182123"} Drop a Line: 678-818-2123

    / Generic
    %article.container.box.style3
      %header
        %h2 Generic Box
        %p Just a generic box. Nothing to see here.
      %section
        %header
          %h3 Paragraph
          %p This is a subtitle
        %p
          Phasellus nisl nisl, varius id
          %sup porttitor sed pellentesque
          ac orci. Pellentesque
          habitant
          %strong strong
          tristique
          %b bold
          et netus
          %i italic
          malesuada
          %em emphasized
          ac turpis egestas. Morbi
          leo suscipit ut. Praesent
          %sub id turpis vitae
          turpis pretium ultricies. Vestibulum sit
          amet risus elit.
      %section
        %header
          %h3 Blockquote
        %blockquote
          Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget.
          tempus euismod. Vestibulum ante ipsum primis in faucibus.
      %section
        %header
          %h3 Divider
        %p
          Donec consectetur
          = succeed "." do
            %a{:href => "#"} vestibulum dolor et pulvinar
          Etiam vel felis enim, at viverra
          ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel. Praesent nec orci
          facilisis leo magna. Cras sit amet urna eros, id egestas urna. Quisque aliquam
          tempus euismod. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
          posuere cubilia.
        %hr/
        %p
          Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra
          ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel. Praesent nec orci
          facilisis leo magna. Cras sit amet urna eros, id egestas urna. Quisque aliquam
          tempus euismod. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
          posuere cubilia.
      %section
        %header
          %h3 Unordered List
        %ul.default
          %li Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.
          %li Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.
          %li Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.
          %li Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.
      %section
        %header
          %h3 Ordered List
        %ol.default
          %li Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.
          %li Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.
          %li Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.
          %li Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.
      %section
        %header
          %h3 Table
        .table-wrapper
          %table.default
            %thead
              %tr
                %th ID
                %th Name
                %th Description
                %th Price
            %tbody
              %tr
                %td 45815
                %td Something
                %td Ut porttitor sagittis lorem quis nisi ornare.
                %td 29.99
              %tr
                %td 24524
                %td Nothing
                %td Ut porttitor sagittis lorem quis nisi ornare.
                %td 19.99
              %tr
                %td 45815
                %td Something
                %td Ut porttitor sagittis lorem quis nisi ornare.
                %td 29.99
              %tr
                %td 24524
                %td Nothing
                %td Ut porttitor sagittis lorem quis nisi ornare.
                %td 19.99
            %tfoot
              %tr
                %td{:colspan => "3"}
                %td 100.00
      %section
        %header
          %h3 Form
        %form{:action => "#", :method => "post"}
          .row
            .6u
              %input#name.text{:name => "name", :placeholder => "John Doe", :type => "text", :value => ""}/
            .6u
              %input#email.text{:name => "email", :placeholder => "johndoe@domain.tld", :type => "text", :value => ""}/
          .row
            .12u
              %select#department{:name => "department"}
                %option{:value => ""} Choose a department
                %option{:value => "1"} Manufacturing
                %option{:value => "2"} Administration
                %option{:value => "3"} Support
          .row
            .12u
              %input#subject.text{:name => "subject", :placeholder => "Enter your subject", :type => "text", :value => ""}/
          .row
            .12u
              %textarea#message{:name => "message", :placeholder => "Enter your message"}
          .row
            .12u
              %ul.actions
                %li
                  %input{:type => "submit", :value => "Submit"}/
                %li
                  %input.style3{:type => "reset", :value => "Clear Form"}/
    %section#footer
      %ul.icons
        %li
          %a.icon.fa-twitter{:href => "#"}
            %span.label Twitter
        %li
          %a.icon.fa-facebook{:href => "#"}
            %span.label Facebook
        %li
          %a.icon.fa-google-plus{:href => "#"}
            %span.label Google+
        %li
          %a.icon.fa-pinterest{:href => "#"}
            %span.label Pinterest
        %li
          %a.icon.fa-dribbble{:href => "#"}
            %span.label Dribbble
        %li
          %a.icon.fa-linkedin{:href => "#"}
            %span.label LinkedIn
      .copyright
        %ul.menu
          %li &copy; Untitled. All rights reserved.
          %li
            Design:
            %a{:href => "http://html5up.net"} HTML5 UP
